*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


h1,h2{
    color: #fff;
}
h2{
    margin-top: 2rem;
}

#winner{
    color: rgb(0, 255, 255);
}

#canvas{
    border: 1px solid #333;
    background-image: url(../images/arena.jpg);
    background-size: contain;
    width: 80%;
    height: 80vh;
    margin:3rem;
}

.flex{
    display: flex;
}

.life{
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.robos{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

body{
    overflow: hidden;
}

.w-100{
    width: 100%;
}